@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Request") ? "success" : "danger";
    if (statusMessageClass == "danger")
    {
        statusMessageClass = Model.StartsWith("Your") ? "success" : "danger";
    }
    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Model
    </div>
}