<div style="display:block">
    <input class="search" style="display:inline-block" type="date" name="_date" value="" id="_date" />
    <input id="_search" type="button" class="button" name="name" value="Search" />
</div>