<div>
<p style="margin-top: 8pt; margin-bottom: 16pt; text-align: center; line-height: 115%; font-size: 13pt;">
    

        <p style="text-align:center">
            <img style="margin-top: -6.35pt;" src="https://myfiles.space/19432_1cfadefb7f7d910b/1552661979_mu-phiu-ng-k-gi-ch-annhome-vincityq9-form-chung/1552661979_mu-phiu-ng-k-gi-ch-annhome-vincityq9-form-chung.001.png" alt="D:\BankExpress\Vincity\annhome logo.png" width="240" height="131" />
        </p>
    <strong>
       
    </strong>
</p>

<p style="margin-top: 3pt; margin-bottom: 3pt; text-align: center; line-height: 115%; font-size: 16pt;"><strong><span style="font-family: 'Times New Roman'; color: #00000a;">PHIẾU ĐĂNG K&Yacute; GIỮ CHỖ - DỰ &Aacute;N VINCITY</span></strong></p>
<p style="margin-top: 3pt; margin-bottom: 3pt; text-align: center; line-height: 115%; font-size: 12.5pt;"><strong><em><span style="font-family: 'Times New Roman'; color: #00000a;">(Số: &hellip;&hellip;/2018/DKGC-VINC)</span></em></strong></p>
<p style="margin-top: 3pt; margin-bottom: 3pt; text-align: right; line-height: 115%; font-size: 12.5pt;"><em><span style="font-family: 'Times New Roman'; color: #00000a;">TP. Hồ Ch&iacute; Minh, ng&agrave;y &hellip;&hellip;.</span></em><em><span style="font-family: 'Times New Roman'; color: #00000a;">&nbsp; </span></em><em><span style="font-family: 'Times New Roman'; color: #00000a;">th&aacute;ng &hellip;&hellip;.. năm 2018</span></em></p>
<p style="margin-top: 12pt; margin-bottom: 3pt; text-align: justify; line-height: 115%; font-size: 12.5pt;"><strong><span style="font-family: 'Times New Roman'; color: #00000a;">B&Ecirc;N A: </span></strong><strong><span style="font-family: 'Times New Roman'; color: #323232;">C&Ocirc;NG TY CỔ PHẦN NH&Agrave; ANN HOME</span></strong></p>
<table style="width: 497.4pt; border-collapse: collapse;" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 66.6pt; padding-right: 5.4pt; padding-left: 7.4pt; vertical-align: top;">
<p style="margin-top: 6pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">Chi nh&aacute;nh</span></p>
</td>
<td style="width: 3.35pt; padding-right: 5.4pt; padding-left: 7.4pt; vertical-align: top;">
<p style="margin-top: 6pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">:</span></p>
</td>
<td style="width: 389.05pt; padding-right: 5.4pt; padding-left: 7.4pt; vertical-align: top;" colspan="3">
<p style="margin-top: 6pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">311 K25 đường số 8, khu phố 1, phường An Ph&uacute;, Quận 2, TP. Hồ Ch&iacute; Minh</span></p>
</td>
</tr>
<tr>
<td style="width: 66.6pt; padding-right: 5.4pt; padding-left: 7.4pt; vertical-align: top;">
<p style="margin-top: 6pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">Đ/c giao dịch</span></p>
</td>
<td style="width: 3.35pt; padding-right: 5.4pt; padding-left: 7.4pt; vertical-align: top;">
<p style="margin-top: 6pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">:</span></p>
</td>
<td style="width: 389.05pt; padding-right: 5.4pt; padding-left: 7.4pt; vertical-align: top;" colspan="3">
<p style="margin-top: 6pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">Khu nh&agrave; mẫu VinCity, tầng 3 Vincom Mega Mall, Quận 2, TP.HCM</span></p>
</td>
</tr>
<tr>
<td style="width: 66.6pt; padding-right: 5.4pt; padding-left: 7.4pt; vertical-align: top;">
<p style="margin-top: 6pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">M&atilde; số thuế</span></p>
</td>
<td style="width: 3.35pt; padding-right: 5.4pt; padding-left: 7.4pt; vertical-align: top;">
<p style="margin-top: 6pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">:</span></p>
</td>
<td style="width: 389.05pt; padding-right: 5.4pt; padding-left: 7.4pt; vertical-align: top;" colspan="3">
<p style="margin-top: 6pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">0314251205</span></p>
</td>
</tr>
<tr>
<td style="width: 66.6pt; padding-right: 5.4pt; padding-left: 7.4pt; vertical-align: top;">
<p style="margin-top: 6pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">Đại diện bởi</span><span style="font-family: 'Times New Roman'; color: #00000a;">&nbsp; </span></p>
</td>
<td style="width: 3.35pt; padding-right: 5.4pt; padding-left: 7.4pt; vertical-align: top;">
<p style="margin-top: 6pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">:</span></p>
</td>
<td style="width: 150.8pt; padding-right: 5.4pt; padding-left: 7.4pt; vertical-align: top;">
<p style="margin-top: 6pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><strong><span style="font-family: 'Times New Roman'; color: #00000a;">B&agrave; L&ecirc; Thị Thu Hằng</span></strong></p>
</td>
<td style="width: 57.85pt; padding-right: 5.4pt; padding-left: 7.4pt; vertical-align: top;">
<p style="margin-top: 6pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">Chức vụ:</span><span style="font-family: 'Times New Roman'; color: #00000a;">&nbsp; </span></p>
</td>
<td style="width: 154.8pt; padding-right: 5.4pt; padding-left: 7.4pt; vertical-align: top;">
<p style="margin-top: 6pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">Tổng Gi&aacute;m Đốc</span></p>
</td>
</tr>
<tr>
<td style="width: 66.6pt; padding-right: 5.4pt; padding-left: 7.4pt; vertical-align: top;">
<p style="margin-top: 6pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">Điện thoại</span></p>
</td>
<td style="width: 3.35pt; padding-right: 5.4pt; padding-left: 7.4pt; vertical-align: top;">
<p style="margin-top: 6pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">:</span></p>
</td>
<td style="width: 389.05pt; padding-right: 5.4pt; padding-left: 7.4pt; vertical-align: top;" colspan="3">
<p style="margin-top: 6pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #222222; background-color: #ffffff;">0867.3014.666</span><span style="font-family: 'Times New Roman'; color: #222222; background-color: #ffffff;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family: 'Times New Roman'; color: #222222; background-color: #ffffff;">Hotline: 0902 969 169</span></p>
</td>
</tr>
<tr>
<td style="width: 66.6pt; padding-right: 5.4pt; padding-left: 7.4pt; vertical-align: top;">
<p style="margin-top: 6pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">Email</span></p>
</td>
<td style="width: 3.35pt; padding-right: 5.4pt; padding-left: 7.4pt; vertical-align: top;">
<p style="margin-top: 6pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">:</span></p>
</td>
<td style="width: 389.05pt; padding-right: 5.4pt; padding-left: 7.4pt; vertical-align: top;" colspan="3">
<p style="margin-top: 6pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">hello@annhome.vn</span><span style="font-family: 'Times New Roman'; color: #00000a;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family: 'Times New Roman'; color: #00000a;">Website: https://www.annhome.vn</span></p>
</td>
</tr>
</tbody>
</table>
<p style="margin-top: 3pt; margin-bottom: 3pt; text-align: justify; line-height: 115%; font-size: 12.5pt;"><em><span style="font-family: 'Times New Roman'; color: #00000a;">(Sau đ&acirc;y gọi l&agrave; B&ecirc;n A)</span></em></p>
<p style="margin-top: 9pt; margin-bottom: 3pt; text-align: justify; line-height: 115%; font-size: 12.5pt;"><strong><span style="font-family: 'Times New Roman'; color: #00000a;">B&Ecirc;N B: TH&Ocirc;NG TIN KH&Aacute;CH H&Agrave;NG</span></strong></p>
<table style="width: 504.35pt; border-collapse: collapse;" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 107.1pt; padding-right: 5.4pt; padding-left: 7.4pt; vertical-align: top;">
<p style="margin-top: 6pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">&Ocirc;ng/b&agrave;</span></p>
</td>
<td style="width: 3.35pt; padding-right: 5.4pt; padding-left: 7.4pt; vertical-align: top;">
<p style="margin-top: 6pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">:</span></p>
</td>
<td style="width: 355.5pt; padding-right: 5.4pt; padding-left: 7.4pt; vertical-align: top;" colspan="5">
<p style="margin-top: 6pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span><span style="font-family: 'Times New Roman'; color: #00000a;">&nbsp; </span><span style="font-family: 'Times New Roman'; color: #00000a;">Quốc tịch:</span><span style="font-family: 'Times New Roman'; color: #00000a;">&nbsp;&nbsp; </span><span style="font-family: 'Times New Roman'; color: #00000a;">&hellip;&hellip;&hellip;&hellip;&hellip;..</span></p>
</td>
</tr>
<tr>
<td style="width: 107.1pt; padding-right: 5.4pt; padding-left: 7.4pt; vertical-align: top;">
<p style="margin-top: 6pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">Số CMND (hộ chiếu)</span></p>
</td>
<td style="width: 3.35pt; padding-right: 5.4pt; padding-left: 7.4pt; vertical-align: top;">
<p style="margin-top: 6pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">:</span></p>
</td>
<td style="width: 84pt; padding-right: 5.4pt; padding-left: 7.4pt; vertical-align: top;">
<p style="margin-top: 6pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></p>
</td>
<td style="width: 49.9pt; padding-right: 5.4pt; padding-left: 7.4pt; vertical-align: top;">
<p style="margin-top: 6pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">Ng&agrave;y cấp:</span></p>
</td>
<td style="width: 50.6pt; padding-right: 5.4pt; padding-left: 7.4pt; vertical-align: top;">
<p style="margin-top: 6pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">&hellip;&hellip;&hellip;&hellip;</span></p>
</td>
<td style="width: 45.45pt; padding-right: 5.4pt; padding-left: 7.4pt; vertical-align: top;">
<p style="margin-top: 6pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">Nơi cấp:</span></p>
</td>
<td style="width: 74.35pt; padding-right: 5.4pt; padding-left: 7.4pt; vertical-align: top;">
<p style="margin-top: 6pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">&hellip;&hellip;&hellip;&hellip;&hellip;..</span></p>
</td>
</tr>
<tr>
<td style="width: 107.1pt; padding-right: 5.4pt; padding-left: 7.4pt; vertical-align: top;">
<p style="margin-top: 6pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">Hộ khẩu thường tr&uacute;</span></p>
</td>
<td style="width: 3.35pt; padding-right: 5.4pt; padding-left: 7.4pt; vertical-align: top;">
<p style="margin-top: 6pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">:</span></p>
</td>
<td style="width: 355.5pt; padding-right: 5.4pt; padding-left: 7.4pt; vertical-align: top;" colspan="5">
<p style="margin-top: 6pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></p>
</td>
</tr>
<tr>
<td style="width: 107.1pt; padding-right: 5.4pt; padding-left: 7.4pt; vertical-align: top;">
<p style="margin-top: 6pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">Địa chỉ li&ecirc;n hệ</span></p>
</td>
<td style="width: 3.35pt; padding-right: 5.4pt; padding-left: 7.4pt; vertical-align: top;">
<p style="margin-top: 6pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">:</span></p>
</td>
<td style="width: 355.5pt; padding-right: 5.4pt; padding-left: 7.4pt; vertical-align: top;" colspan="5">
<p style="margin-top: 6pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></p>
</td>
</tr>
<tr>
<td style="width: 107.1pt; padding-right: 5.4pt; padding-left: 7.4pt; vertical-align: top;">
<p style="margin-top: 6pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">Điện thoại</span></p>
</td>
<td style="width: 3.35pt; padding-right: 5.4pt; padding-left: 7.4pt; vertical-align: top;">
<p style="margin-top: 6pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">:</span></p>
</td>
<td style="width: 355.5pt; padding-right: 5.4pt; padding-left: 7.4pt; vertical-align: top;" colspan="5">
<p style="margin-top: 6pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span><span style="font-family: 'Times New Roman'; color: #00000a;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family: 'Times New Roman'; color: #00000a;">Email: &hellip;&hellip;&hellip;&hellip;&hellip;..&hellip;&hellip;&hellip;&hellip;&hellip;..</span></p>
</td>
</tr>
<tr>
<td style="width: 107.1pt; padding-right: 5.4pt; padding-left: 7.4pt; vertical-align: top;">
<p style="margin-top: 6pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">Nhu cầu vay NH</span></p>
<p style="margin-top: 6pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">Khả năng thanh to&aacute;n</span></p>
</td>
<td style="width: 3.35pt; padding-right: 5.4pt; padding-left: 7.4pt; vertical-align: top;">
<p style="margin-top: 6pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">:</span></p>
<p style="margin-top: 6pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">:</span><span style="font-family: 'Times New Roman'; color: #00000a;">&nbsp;&nbsp;&nbsp;&nbsp; </span></p>
</td>
<td style="width: 355.5pt; padding-right: 5.4pt; padding-left: 7.4pt; vertical-align: top;" colspan="5">
<p style="margin-top: 6pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">C&oacute; / Kh&ocirc;ng</span><span style="font-family: 'Times New Roman'; color: #00000a;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family: 'Times New Roman'; color: #00000a;">Số tiền:</span><span style="font-family: 'Times New Roman'; color: #00000a;">&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family: 'Times New Roman'; color: #00000a;">&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></p>
<p style="margin-top: 6pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">Thanh to&aacute;n 100%</span><span style="font-family: 'Times New Roman'; color: #00000a;">&nbsp;&nbsp; </span><span style="font-family: 'Times New Roman'; color: #00000a;">/</span><span style="font-family: 'Times New Roman'; color: #00000a;">&nbsp; </span><span style="font-family: 'Times New Roman'; color: #00000a;">Thanh to&aacute;n theo tiến độ</span></p>
</td>
</tr>
</tbody>
</table>
<p style="margin-top: 3pt; margin-bottom: 3pt; text-align: justify; line-height: 115%; font-size: 12.5pt;"><em><span style="font-family: 'Times New Roman'; color: #00000a;">(Sau đ&acirc;y gọi l&agrave; B&ecirc;n B)</span></em></p>
<p style="margin-top: 6pt; margin-bottom: 6pt; text-align: justify; line-height: 115%; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">C&aacute;c B&ecirc;n thống nhất lập v&agrave; k&yacute; kết phiếu đăng k&yacute; giữ chỗ n&agrave;y sau khi c&oacute; x&aacute;c nhận b&ecirc;n B thanh to&aacute;n đầy đủ số tiền giữ chỗ cho b&ecirc;n A th&ocirc;ng qua chuyển khoản hoặc tiền mặt để đảm bảo việc tham gia đăng k&yacute; mua sản phẩm bất động sản tại Dự &Aacute;n Vincity Quận 9 với c&aacute;c nội dung sau đ&acirc;y:</span></p>
<p style="margin-top: 3pt; margin-bottom: 0pt; text-align: justify; line-height: 115%; font-size: 12pt;"><strong><span style="font-family: 'Times New Roman'; color: #00000a;">Điều 1.</span></strong><span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp; </span><strong><span style="font-family: 'Times New Roman'; color: #00000a;">Nội dung thỏa thuận</span></strong></p>
<p style="margin-top: 0pt; margin-left: 36pt; margin-bottom: 0pt; text-indent: -36pt; text-align: justify; line-height: 115%; font-size: 12pt;"><strong><span style="font-family: 'Times New Roman'; color: #00000a;">1.1.</span></strong><span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><strong><span style="font-family: 'Times New Roman'; color: #00000a;">Th&ocirc;ng tin loại sản phẩm bất động sản đăng k&yacute; tham gia chọn mua:</span></strong></p>
<p style="margin-top: 6pt; margin-left: 39pt; margin-bottom: 0pt; text-indent: -18pt; text-align: justify; font-size: 12pt;"><strong><em><span style="font-family: 'Times New Roman'; color: #00000a;">a)</span></em></strong><span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp; </span><strong><em><span style="font-family: 'Times New Roman'; color: #00000a;">Căn Hộ: </span></em></strong></p>
<p style="margin-top: 6pt; margin-left: 57pt; margin-bottom: 0pt; text-indent: -18pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">-</span><span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family: 'Times New Roman'; color: #00000a;">Số lượng căn: &hellip;&hellip;&hellip;..</span><span style="font-family: 'Times New Roman'; color: #00000a;">&nbsp;&nbsp;&nbsp; </span><span style="font-family: 'Times New Roman'; color: #00000a;">Tầng:&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span><span style="font-family: 'Times New Roman'; color: #00000a;">&nbsp;&nbsp; </span><span style="font-family: 'Times New Roman'; color: #00000a;">Số PN: &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></p>
<p style="margin-top: 6pt; margin-left: 57pt; margin-bottom: 0pt; text-indent: -18pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">-</span><span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family: 'Times New Roman'; color: #00000a;">Hướng</span><span style="font-family: 'Times New Roman'; color: #00000a;">&nbsp; </span><span style="font-family: 'Times New Roman'; color: #00000a;">&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span><span style="font-family: 'Times New Roman'; color: #00000a;">&nbsp;&nbsp;&nbsp; </span><span style="font-family: 'Times New Roman'; color: #00000a;">View&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></p>
<p style="margin-top: 6pt; margin-left: 39pt; margin-bottom: 0pt; text-indent: -18pt; text-align: justify; font-size: 12pt;"><strong><em><span style="font-family: 'Times New Roman'; color: #00000a;">b)</span></em></strong><span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp; </span><strong><em><span style="font-family: 'Times New Roman'; color: #00000a;">Shop khối đế:</span></em></strong></p>
<p style="margin-top: 6pt; margin-left: 57pt; margin-bottom: 0pt; text-indent: -18pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">-</span><span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family: 'Times New Roman'; color: #00000a;">Số lượng căn: &hellip;&hellip;&hellip;</span><span style="font-family: 'Times New Roman'; color: #00000a;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family: 'Times New Roman'; color: #00000a;">Hướng:&hellip;&hellip;&hellip;&hellip;&hellip;</span><span style="font-family: 'Times New Roman'; color: #00000a;">&nbsp;&nbsp;&nbsp; </span><span style="font-family: 'Times New Roman'; color: #00000a;">View: &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></p>
<p style="margin-top: 6pt; margin-left: 39pt; margin-bottom: 0pt; text-indent: -18pt; text-align: justify; font-size: 12pt;"><strong><em><span style="font-family: 'Times New Roman'; color: #00000a;">c)</span></em></strong><span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><strong><em><span style="font-family: 'Times New Roman'; color: #00000a;">Shophouse (Nh&agrave; phố thương mại):</span></em></strong></p>
<p style="margin-top: 6pt; margin-left: 57pt; margin-bottom: 0pt; text-indent: -18pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">-</span><span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family: 'Times New Roman'; color: #00000a;">Số lượng căn: &hellip;&hellip;&hellip;</span><span style="font-family: 'Times New Roman'; color: #00000a;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family: 'Times New Roman'; color: #00000a;">Hướng:&hellip;&hellip;&hellip;&hellip;&hellip;</span><span style="font-family: 'Times New Roman'; color: #00000a;">&nbsp;&nbsp;&nbsp; </span><span style="font-family: 'Times New Roman'; color: #00000a;">View: &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></p>
<p style="margin-top: 6pt; margin-left: 39pt; margin-bottom: 0pt; text-indent: -18pt; text-align: justify; font-size: 12pt;"><strong><em><span style="font-family: 'Times New Roman'; color: #00000a;">d)</span></em></strong><span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp; </span><strong><em><span style="font-family: 'Times New Roman'; color: #00000a;">Nh&agrave; phố: </span></em></strong></p>
<p style="margin-top: 6pt; margin-left: 57pt; margin-bottom: 0pt; text-indent: -18pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">-</span><span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family: 'Times New Roman'; color: #00000a;">Số lượng căn: &hellip;&hellip;&hellip;</span><span style="font-family: 'Times New Roman'; color: #00000a;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family: 'Times New Roman'; color: #00000a;">Hướng:&hellip;&hellip;&hellip;&hellip;&hellip;</span><span style="font-family: 'Times New Roman'; color: #00000a;">&nbsp;&nbsp;&nbsp; </span><span style="font-family: 'Times New Roman'; color: #00000a;">View: &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></p>
<p style="margin-top: 6pt; margin-left: 39pt; margin-bottom: 0pt; text-indent: -18pt; text-align: justify; font-size: 12pt;"><strong><em><span style="font-family: 'Times New Roman'; color: #00000a;">e)</span></em></strong><span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><strong><em><span style="font-family: 'Times New Roman'; color: #00000a;">Biệt thự:</span></em></strong></p>
<p style="margin-top: 6pt; margin-left: 57pt; margin-bottom: 0pt; text-indent: -18pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">-</span><span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family: 'Times New Roman'; color: #00000a;">Số lượng căn: &hellip;&hellip;&hellip;</span><span style="font-family: 'Times New Roman'; color: #00000a;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family: 'Times New Roman'; color: #00000a;">Hướng:&hellip;&hellip;&hellip;&hellip;&hellip;</span><span style="font-family: 'Times New Roman'; color: #00000a;">&nbsp;&nbsp;&nbsp; </span><span style="font-family: 'Times New Roman'; color: #00000a;">View: &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></p>
<p style="margin-top: 6pt; margin-left: 36pt; margin-bottom: 0pt; text-indent: -36pt; text-align: justify; font-size: 12pt;"><strong><span style="font-family: 'Times New Roman'; color: #00000a;">1.2.</span></strong><span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><strong><span style="font-family: 'Times New Roman'; color: #0f0c0c;">Số tiền giữ chỗ đặt mua: &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..&hellip;.</span></strong></p>
<p style="margin-top: 6pt; margin-left: 36pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #0f0c0c;">(</span><span style="font-family: 'Times New Roman'; color: #0f0c0c;">Bằng chữ:</span><span style="font-family: 'Times New Roman'; color: #0f0c0c;">&nbsp; </span><span style="font-family: 'Times New Roman'; color: #0f0c0c;">&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip; </span><span style="font-family: 'Times New Roman'; color: #0f0c0c;">) </span></p>
<p style="margin-top: 6pt; margin-left: 36pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #0f0c0c;">Thời gian t&iacute;nh quyền ưu ti&ecirc;n của kh&aacute;ch h&agrave;ng sẽ căn cứ v&agrave;o thời gian đăng k&yacute; v&agrave; k&yacute; phiếu thu tiền mặt hoặc thời gian nhận chuyển khoản.</span></p>
<div><span style="display: block; height: 150px"></span></div>
<p style="margin-top: 6pt; margin-bottom: 6pt; text-align: justify; line-height: 115%; font-size: 12pt;"><strong><span style="font-family: 'Times New Roman'; color: #00000a;">Điều 2.</span></strong><span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp; </span><strong><span style="font-family: 'Times New Roman'; color: #00000a;">Phương thức thanh to&aacute;n</span></strong></p>
<p style="margin-top: 6pt; margin-left: 36pt; margin-bottom: 0pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">B&ecirc;n B thanh to&aacute;n tiền mặt hoặc chuyển khoản v&agrave;o t&agrave;i khoản Ng&acirc;n h&agrave;ng sau đ&acirc;y:</span></p>
<p style="margin-top: 6pt; margin-left: 58.5pt; margin-bottom: 0pt; text-indent: -22.5pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">-</span><span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family: 'Times New Roman'; color: #00000a;">T&ecirc;n t&agrave;i khoản: </span><strong><span style="font-family: 'Times New Roman'; color: #00000a;">C&ocirc;ng ty Cổ Phần Nh&agrave; ANN HOME</span></strong></p>
<p style="margin-top: 6pt; margin-left: 35.45pt; margin-bottom: 0pt; text-indent: 27.55pt; text-align: justify; font-size: 12pt;"><strong><u><span style="font-family: 'Times New Roman'; color: #00000a;">Tại NH TMCP Việt Nam Thuơng T&iacute;n (Vietbank)</span></u></strong></p>
<p style="margin-top: 6pt; margin-left: 53.3pt; margin-bottom: 0pt; text-indent: 27.55pt; text-align: justify; font-size: 12pt;"><span style="font-family: Wingdings; color: #00000a;"></span><span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family: 'Times New Roman'; color: #00000a;">Số t&agrave;i khoản</span><span style="width: 29.62pt; text-indent: 0pt; display: inline-block;">&nbsp;</span><span style="font-family: 'Times New Roman'; color: #00000a;">: </span><strong><span style="font-family: 'Times New Roman'; color: #00000a;">14206377 </span></strong></p>
<p style="margin-top: 6pt; margin-left: 53.3pt; margin-bottom: 0pt; text-indent: 27.55pt; text-align: justify; font-size: 12pt;"><span style="font-family: Wingdings; color: #00000a;"></span><span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family: 'Times New Roman'; color: #00000a;">T&ecirc;n Ng&acirc;n h&agrave;ng</span><span style="width: 15.64pt; text-indent: 0pt; display: inline-block;">&nbsp;</span><span style="font-family: 'Times New Roman'; color: #00000a;">: </span><strong><span style="font-family: 'Times New Roman'; color: #00000a;">Vietbank &ndash; CN V&otilde; Văn Ng&acirc;n - TP HCM</span></strong></p>
<p style="margin-top: 6pt; margin-left: 36pt; margin-bottom: 0pt; text-indent: 27.55pt; text-align: justify; font-size: 12pt;"><strong><u><span style="font-family: 'Times New Roman'; color: #00000a;">Tại NH TMCP Ngoại Thương Việt Nam (Vietcombank)</span></u></strong></p>
<p style="margin-top: 6pt; margin-left: 53.3pt; margin-bottom: 0pt; text-indent: 27.55pt; text-align: justify; font-size: 12pt;"><span style="font-family: Wingdings; color: #00000a;"></span><span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family: 'Times New Roman'; color: #00000a;">Số t&agrave;i khoản</span><span style="font-family: 'Times New Roman'; color: #00000a;">&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="width: 14.62pt; text-indent: 0pt; display: inline-block;">&nbsp;</span><span style="font-family: 'Times New Roman'; color: #00000a;">: </span><strong><span style="font-family: 'Times New Roman'; color: #00000a;">0371000471407</span></strong></p>
<p style="margin-top: 6pt; margin-left: 53.3pt; margin-bottom: 0pt; text-indent: 27.55pt; text-align: justify; font-size: 12pt;"><span style="font-family: Wingdings; color: #00000a;"></span><span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family: 'Times New Roman'; color: #00000a;">T&ecirc;n Ng&acirc;n h&agrave;ng </span><span style="width: 12.64pt; text-indent: 0pt; display: inline-block;">&nbsp;</span><span style="font-family: 'Times New Roman'; color: #00000a;">: </span><strong><span style="font-family: 'Times New Roman'; color: #00000a;">Vietcombank - CN T&acirc;n Định - TP HCM</span></strong></p>
<p style="margin-top: 6pt; margin-left: 58.5pt; margin-bottom: 0pt; text-indent: -22.5pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">-</span><span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family: 'Times New Roman'; color: #00000a;">Nội dung: </span><strong><span style="font-family: 'Times New Roman'; color: #00000a;">[T&ecirc;n kh&aacute;ch h&agrave;ng] giữ chỗ [SL] [Sản phẩm] VinCity</span></strong></p>
<p style="margin-top: 6pt; margin-bottom: 6pt; text-align: justify; line-height: 115%; font-size: 12pt;"><strong><span style="font-family: 'Times New Roman'; color: #00000a;">Điều 3.</span></strong><span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp; </span><strong><span style="font-family: 'Times New Roman'; color: #00000a;">Điều khoản chung</span></strong></p>
<p style="margin-top: 6pt; margin-left: 36pt; margin-bottom: 0pt; text-indent: -13.5pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">-</span><span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family: 'Times New Roman'; color: #00000a;">Phiếu đăng k&yacute; giữ chỗ n&agrave;y kh&ocirc;ng phải l&agrave; phiếu đặt cọc, kh&ocirc;ng c&oacute; gi&aacute; trị ph&aacute;p l&yacute; thay thế phiếu đặt cọc.</span></p>
<p style="margin-top: 6pt; margin-left: 36pt; margin-bottom: 0pt; text-indent: -13.5pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">-</span><span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family: 'Times New Roman'; color: #00000a;">Với phiếu đăng k&yacute; giữ chỗ n&agrave;y, B&ecirc;n A nhận lời đặt giữ chỗ căn hộ n&ecirc;u tr&ecirc;n cho B&ecirc;n B khi Chủ đầu tư mở b&aacute;n ch&iacute;nh thức. B&ecirc;n A sẽ th&ocirc;ng b&aacute;o gi&aacute; b&aacute;n ch&iacute;nh thức tới B&ecirc;n B khi thỏa m&atilde;n c&aacute;c điều khoản của Chủ đầu tư v&agrave; gi&aacute; trị giữ chỗ sẽ trở th&agrave;nh tiền đặt cọc. </span></p>
<p style="margin-top: 6pt; margin-left: 36pt; margin-bottom: 0pt; text-indent: -13.5pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">-</span><span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family: 'Times New Roman'; color: #00000a;">Nếu b&ecirc;n B kh&ocirc;ng đồng &yacute; với gi&aacute; b&aacute;n căn hộ Chủ đầu đưa ra th&igrave; B&ecirc;n A sẽ trả lại to&agrave;n bộ gi&aacute; trị giữ chỗ cho B&ecirc;n B trong v&ograve;ng 07 ng&agrave;y l&agrave;m việc.</span></p>
<p style="margin-top: 6pt; margin-left: 36pt; margin-bottom: 0pt; text-indent: -13.5pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">-</span><span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family: 'Times New Roman'; color: #00000a;">Phiếu giữ chỗ n&agrave;y kh&ocirc;ng c&ograve;n gi&aacute; trị khi b&ecirc;n B đ&atilde; ch&iacute;nh thức chuyển sang k&yacute; hợp đồng đặt cọc với chủ đầu tư.</span></p>
<p style="margin-top: 6pt; margin-left: 36pt; margin-bottom: 0pt; text-indent: -13.5pt; text-align: justify; font-size: 12pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">-</span><span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family: 'Times New Roman'; color: #00000a;">Phiếu n&agrave;y được lập th&agrave;nh 02 (hai) bản v&agrave; c&oacute; gi&aacute; trị như nhau. B&ecirc;n A giữ 01 bản, B&ecirc;n B giữ 01 bản để l&agrave;m cơ sở thực hiện.</span></p>
<p style="margin-top: 6pt; margin-left: 36pt; margin-bottom: 0pt; text-align: justify; font-size: 1pt;"><span style="font-family: 'Times New Roman'; color: #00000a;">&nbsp;</span></p>
<div style="text-align: center;">
<table style="width: 492.7pt; margin-right: auto; margin-left: auto; border-collapse: collapse;" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 233.55pt; padding-right: 5.4pt; padding-left: 7.4pt; vertical-align: top;">
<p style="margin-top: 6pt; margin-bottom: 3pt; text-align: center; line-height: 115%; font-size: 12.5pt;"><strong><span style="font-family: 'Times New Roman'; color: #00000a;">ĐẠI DIỆN B&Ecirc;N A</span></strong></p>
<p style="margin-top: 6pt; margin-bottom: 3pt; text-align: center; line-height: 115%; font-size: 12.5pt;"><em><span style="font-family: 'Times New Roman'; color: #00000a;">(k&yacute; v&agrave; ghi r&otilde; họ t&ecirc;n)</span></em></p>
</td>
<td style="width: 233.5pt; padding-right: 5.4pt; padding-left: 7.4pt; vertical-align: top;">
<p style="margin-top: 6pt; margin-bottom: 3pt; text-align: center; line-height: 115%; font-size: 12.5pt;"><strong><span style="font-family: 'Times New Roman'; color: #00000a;">ĐẠI DIỆN B&Ecirc;N B</span></strong></p>
<p style="margin-top: 6pt; margin-bottom: 3pt; text-align: center; line-height: 115%; font-size: 12.5pt;"><em><span style="font-family: 'Times New Roman'; color: #00000a;">(k&yacute; v&agrave; ghi r&otilde; họ t&ecirc;n)</span></em></p>
</td>
</tr>
</tbody>
</table>
</div>
<p style="margin-top: 3pt; margin-bottom: 3pt; text-align: justify; line-height: 115%; font-size: 11pt;"><span style="font-family: Calibri; color: #00000a;">&nbsp;</span></p>
<p style="margin-top: 3pt; margin-bottom: 3pt; text-align: justify; line-height: 115%; font-size: 11pt;"><span style="font-family: Calibri; color: #00000a;">&nbsp;</span></p>
<p style="margin-top: 3pt; margin-bottom: 3pt; text-align: justify; line-height: 115%; font-size: 6pt;"><span style="font-family: Calibri; color: #00000a;">&nbsp;</span></p>
<p style="margin-top: 3pt; margin-bottom: 3pt; text-align: justify; line-height: 115%; font-size: 11pt;"><span style="font-family: Calibri; color: #00000a;">&nbsp;</span></p>
<p style="margin-top: 3pt; margin-bottom: 3pt; line-height: 115%; font-size: 12.5pt;"><span style="font-family: Calibri; font-size: 11pt; color: #00000a;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><strong><span style="font-family: 'Times New Roman'; color: #00000a;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></strong><strong><span style="font-family: 'Times New Roman'; color: #00000a;">L&Ecirc; THỊ THU HẰNG</span></strong></p>
<p style="margin-top: 3pt; margin-bottom: 3pt; text-align: center; line-height: 115%; font-size: 12.5pt;"><strong><span style="font-family: 'Times New Roman'; color: #00000a;">&nbsp;</span></strong></p>
<p style="margin-top: 3pt; margin-bottom: 3pt; text-align: center; line-height: 115%; font-size: 12.5pt;"><strong><span style="font-family: 'Times New Roman'; color: #00000a;">Nh&acirc;n vi&ecirc;n kinh doanh</span></strong></p>
<p style="margin-top: 6pt; margin-bottom: 3pt; text-align: center; line-height: 115%; font-size: 12.5pt;"><em><span style="font-family: 'Times New Roman'; color: #00000a;">(k&yacute; v&agrave; ghi r&otilde; họ t&ecirc;n)</span></em></p>
</div>