@model BookingForm.Models.Performance
<h3 style="text-align:center">Thành tích làm việc</h3>
<h5>Trong tháng</h5>
<table>
    <thead>
        <tr>
            <td>
                Sale
            </td>
            <td>
                Tháng trước
            </td>
            <td>
                Tháng này
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
        </tr>
    </tbody>
</table>
<h5>Trong tuần</h5>
<table>
    <thead>
        <tr>
            <td>
                Sale
            </td>
            <td>
                Tuần trước
            </td>
            <td>
                Tuần này
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>
    </tbody>
</table>
<h5>Trong ngày</h5>
<table>
    <thead>
        <tr>
            <td>
                Sale
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>
    </tbody>
</table>
