<div class="container">
    <form method="post" asp-action="PrintDocument">
        <div class="form-group">
            <label class="control-label">Vui lòng nhập số lượng file cần in</label>
            <input name="number" class="form-control" required type="number" min="0" id="number" />
        </div>
        <input type="submit" class="btn btn-light" value="In" />
    </form>
</div>