<div style="display:block" ;>
    <select id="context">
        <option value="ph1">1PN</option>
        <option value="ph21">2PN1WC</option>
        <option value="ph2">2PN</option>
        <option value="ph3">3PN</option>
        <option value="pms">DT</option>
        <option value="psh">BTĐL</option>
        <option value="psh1">BTSL</option>
        <option value="pshh">NPTM</option>
        <option value="pns">KIOS</option>
    </select>
</div>
