<div style="display:block">
    <input class="search" style="display:inline-block" placeholder="Search" type="text" name="input" id="input"/>
    <input type="button" class="button" name="name" value="Search" id="search" />
</div>