@model BookingForm.Models.Sale
@{
    ViewBag.Title = "Đăng nhập -";
}
<img title="Annhome-logo" src="~/images/Ann_Logo.png" style="width:340px; height:172px; display:block;margin-left:auto;margin-right:auto;" alt="Annhome Logo" />


<div style="text-align:right">
    
</div>
<div class="col-md-12 row-md-12">
    <div class="col-md-4 row-md-4"></div>
    <div class="col-md-4 row-md-4">
        <h4 style="text-align:center">CHÀO MỪNG BẠN ĐẾN VỚI HỆ THỐNG <span style="display:block; width:5px;"></span> ANN SMART</h4>
        <h4 style="text-align:center">Đăng nhập Booking online</h4>
        <form method="post" asp-action="Home">

            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pass" class="control-label"></label>
                <input asp-for="pass" class="form-control" />
                <span asp-validation-for="pass" class="text-danger"></span>
            </div>

            <input style="float:right;" class="btn btn-primary" type="submit" value="Login" />
        </form>

        <span style="height:92px; display:inline-block"></span>
        @*<div style="text-align:right;"><a asp-action="Switch">Chuyển đến trang đăng nhập cho admin</a></div>*@
    </div>
</div>