
@{
    ViewData["Title"] = "Hướng dẫn -";
}


<h2>Hướng dẫn đặt chỗ</h2>
<p> Click vào "Xếp số hợp đồng ở góc phải để vào trang nhập thông tin đặt chỗ." </p>
<p> Điền đầy đủ thông tin, click xác nhận nếu thành công, hệ thống sẽ hiển thị thông tin về số hợp đồng và số ưu tiên đặt chỗ cho từng loại sản phẩm.</p>
<p> Click vào "in hợp đồng" để hiện bản hợp đồng cho khách xem có kèm đóng dấu + chữ ký của TGĐ hoặc click vào "trở về trang chính" để in bản không có chữ ký TGĐ.</p>
<p> Để tiến hành in các hợp đồng đã thiết lập, vui lòng đăng nhập vào hệ thống, tại trang chính sẽ có danh sách các bản hợp đồng, chọn bản hợp đồng cần in sau đó nhấn tổ hợp phím "Ctrl + p" để in hợp đồng (Chrome).</p>
<p> Mọi thắc mắc vui lòng liên hệ admin (Ngô Thu Hương - 0902003509) để được giải đáp</p>
<p style="color:red; font-size:x-large"> Mọi giao dịch đều phải được thực hiện trên hệ thống, nếu không Annhome sẽ không tính hoa hồng cho hợp đồng giữ chỗ đó.</p>
<p style="text-decoration: underline; font-style:italic"> Hướng dẫn sẽ được cập nhật thêm</p>


<img src="~/images/tutor.png" style="width:1200px;  display:block;margin-left:auto;margin-right:auto;" alt="Hướng dẫn" title="Ảnh hướng dẫn" />
