@model BookingForm.Models.Appoinment
@{
    ViewData["Title"] = "Xác nhận -";
}
<img title="Annhome-logo" src="~/images/Ann_Logo.png" style="width:450px; height:228px; display:block;margin-left:auto;margin-right:auto;" alt="Annhome Logo" />

<h3>Hợp đồng số: @Model.Contract</h3>
<h3>Số thứ tự ưu tiên:</h3>
<ul>
    @{
        string fs = "";
        //string str = Convert.ToString(TempData["pt"]).Trim();
        //string[] type = str.Split("\n");
        //foreach (string t in type)
        //{
        //    fs += "<li>" + t + "</li>";
        //}
        if (Model.NCH1 > 0 || Model.NCH2 > 0 || Model.NCH3 > 0 || Model.NCH21 > 0)
        {
            //fs += "<li>Căn hộ: " + Model.appoinment.ph + "</li>";
            int n = Model.NCH1 + Model.NCH2 + Model.NCH3 + Model.NCH21;
            switch (n)
            {
                case 1:
                    fs += "<li>Căn hộ: " + Model.ph + "</li>";
                    break;
                case 2:
                    fs += "<li>Căn hộ: " + Convert.ToString(Model.ph - 1) + " và " + Model.ph + "</li>";
                    break;
                default:
                    fs += "<li>Căn hộ: Từ " + Convert.ToString(Model.ph - n + 1) + " đến " + Model.ph + "</li>";
                    break;

            }
        }
        if (Model.NMS > 0)
        {
            //fs += "<li>Biệt thự: " + Model.appoinment.pms + "</li>";
            switch (Model.NMS)
            {
                case 1:
                    fs += "<li>Dinh thự: " + Model.pms + "</li>";
                    break;
                case 2:
                    fs += "<li>Dinh thự: " + Convert.ToString(Model.pms - 1) + " và " + Model.pms + "</li>";
                    break;
                default:
                    fs += "<li>Dinh thự: Từ " + Convert.ToString(Model.pms - Model.pms + 1) + " đến " + Model.pms + "</li>";
                    break;

            }
        }
        if (Model.NSH > 0)
        {
            //fs += "<li>Nhà phố: " + Model.appoinment.psh + "</li>";
            switch (Model.NSH)
            {
                case 1:
                    fs += "<li>Biệt thự đơn lập: " + Model.psh + "</li>";
                    break;
                case 2:
                    fs += "<li>Biệt thự đơn lập: " + Convert.ToString(Model.psh - 1) + " và " + Model.psh + "</li>";
                    break;
                default:
                    fs += "<li>Biệt thự đơn lập: Từ " + Convert.ToString(Model.psh - Model.NSH + 1) + " đến " + Model.psh + "</li>";
                    break;

            }
        }
        if (Model.NSH1 > 0)
        {
            //fs += "<li>Nhà phố: " + Model.appoinment.psh + "</li>";
            switch (Model.NSH1)
            {
                case 1:
                    fs += "<li>Biệt thự song lập: " + Model.psh1 + "</li>";
                    break;
                case 2:
                    fs += "<li>Biệt thự song lập: " + Convert.ToString(Model.psh1 - 1) + " và " + Model.psh1 + "</li>";
                    break;
                default:
                    fs += "<li>Biệt thự song lập: Từ " + Convert.ToString(Model.psh1 - Model.NSH1 + 1) + " đến " + Model.psh1 + "</li>";
                    break;

            }
        }
        if (Model.NSHH > 0)
        {
            //fs += "<li>Shophouse: " + Model.appoinment.pshh + "</li>";
            switch (Model.NSHH)
            {
                case 1:
                    fs += "<li>Nhà phố thương mại (Shophouse): " + Model.pshh + "</li>";
                    break;
                case 2:
                    fs += "<li>Nhà phố thương mại (Shophouse): " + Convert.ToString(Model.pshh - 1) + " và " + Model.pshh + "</li>";
                    break;
                default:
                    fs += "<li>Nhà phố thương mại (Shophouse): Từ " + Convert.ToString(Model.pshh - Model.NSHH + 1) + " đến " + Model.pshh + "</li>";
                    break;

            }
        }
        if (Model.NS > 0)
        {
            //fs += "<li>Shophouse: " + Model.appoinment.pshh + "</li>";
            switch (Model.NS)
            {
                case 1:
                    fs += "<li>Shop (kios chung cư): " + Model.pns + "</li>";
                    break;
                case 2:
                    fs += "<li>Shop (kios chung cư): " + Convert.ToString(Model.pns - 1) + " và " + Model.pns + "</li>";
                    break;
                default:
                    fs += "<li>Shop (kios chung cư): Từ " + Convert.ToString(Model.pns - Model.NS + 1) + " đến " + Model.pns + "</li>";
                    break;

            }
        }
        }
        @Html.Raw(fs)
</ul>
<p>Hợp đồng này sẽ thay đổi số thứ tự nếu Quý khách không nộp đủ tiền trong vòng 2 giờ làm việc.</p>
<a asp-action="Views" asp-route-id="@Model.Id">In hợp đồng</a>
<a asp-action="Home">Trở về trang chính</a>
